
* {
    margin: 0;
    padding: 0;
    color: #394166;
}

.nameTag {
    h1{
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    #smaller_paragraph {
        font-size: 14px;
    }
}

.box {
    display: flex;
    align-items: center;
    border: 2px solid #1ab9f1;
    border-radius: 10px;
    padding: 40px 20px;
    width: fit-content;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin: auto;
}

img {
    padding: 10px 10px 10px 10px;
}


